<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://payment213.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e99c2aa7-3e94-47ab-bf4b-d1fdfe22d8d1/resourceGroups/Payment213_group/providers/Microsoft.Web/sites/Payment213</ResourceId>
    <UserName>$Payment213</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://payment213.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>